<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dentdigital.replies</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/umar/.nvm/versions/node/v20.19.4/bin/node</string>
		<string>/Users/umar/.dentdigital/outreach/check-replies.mjs</string>
	</array>
	<key>StartCalendarInterval</key>
	<array>
		<dict><key>Hour</key><integer>8</integer><key>Minute</key><integer>30</integer></dict>
		<dict><key>Hour</key><integer>10</integer><key>Minute</key><integer>30</integer></dict>
		<dict><key>Hour</key><integer>12</integer><key>Minute</key><integer>30</integer></dict>
		<dict><key>Hour</key><integer>14</integer><key>Minute</key><integer>30</integer></dict>
		<dict><key>Hour</key><integer>16</integer><key>Minute</key><integer>30</integer></dict>
		<dict><key>Hour</key><integer>18</integer><key>Minute</key><integer>30</integer></dict>
		<dict><key>Hour</key><integer>20</integer><key>Minute</key><integer>30</integer></dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/umar/.dentdigital/outreach/replies-check.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/umar/.dentdigital/outreach/replies-check.log</string>
</dict>
</plist>
